//COLORS
$blue : rgb(0,122,255);
$cyan : rgb(85, 190, 240); // #55bef0
$lightIndigo:rgb(127, 126, 218);
$indigo: rgb(88,86,214);
$lightestGrey: rgb(229,229,234);
$lightGrey: rgb(199,199,201);
$grey : rgb(142,142,147);
$darkGrey: rgb(97,97,101);
$darkestGrey: rgb(47, 47, 49);
$green: rgb(40,205,65);
$yellow: rgb(255,204,0);
$red: rgb(255,59,48);


